/***
** Global styles
***/
*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

img{
  max-width: 100%;
}

.text-center{
  text-align: center;
}

button{
  &:target,&:focus{
    outline:none;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: background-color .5s linear, border-color .5s linear;
  &.btn-blue{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer;
    &:hover{
      background-color: darken(#337ab7, 15%);
      border-color: darken(#2e6da4, 15%);
    }
  }
  &.disabled{
    cursor: not-allowed;
  }
  &.btn-red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
    &:hover{
      background-color: darken(#d9534f, 15%);
      border-color: darken(#d43f3a, 15%);
    }
  }
  &.btn-green{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    &.pointer{
      cursor: pointer;
      &:hover{
        background-color: darken(#5cb85c, 15%);
        border-color: darken(#4cae4c, 15%);
      }
    }
  }
}

.search_field{
  margin:0px auto 40px auto;
  display: block;
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


/***
** App layout
***/
.app-wrapper{
  width:100%;
  margin:0px auto;
  padding:0px 15px;
}

.marvel-results{
  margin:0px -15px;
  overflow: hidden;
}

.marvel-character{
  width: 100%;
  text-align: center;
  padding:0px 15px;
  &__inner{
    padding:0px 15px;
    max-width: 285px;
    margin:0px auto 50px auto;
  }
  &__image{
    width:100%;
    height:255px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__name{
    min-height: 43px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.pagination{
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  &__page{
    display: inline-block;
    vertical-align: bottom;
    padding:5px 7px;
    margin:0px 5px;
  }
}

/***
** Responsive styles
***/
@media only screen and (min-width : 480px) {
  .marvel-character{
    &__inner{
        max-width: 420px;
    }
    &__image{
      height: 390px;
    }
  }

}

/* Tablets */
@media only screen and (min-width : 768px) {
  .app-wrapper{
    width: 750px;
  }
  .marvel-character{
    width: 50%;
    float: left;
    &:nth-child(2n+1){
      clear:left;
    }
    &__inner{
        max-width: none;
    }
    &__image{
      height: 330px;
    }
  }

}

/* Small laptops */
@media only screen and (min-width : 1024px) {
  .app-wrapper{
    width: 970px;
  }
  .marvel-character{
    width: 25%;
    &:nth-child(2n+1){
      clear:none;
    }
    &:nth-child(4n+1){
      clear:left;
    }
    &__image{
      height: 190px;
    }
  }

}

/* Desktop */
@media only screen and (min-width : 1200px) {
  .app-wrapper{
    width: 1170px;
  }
  .marvel-character{
    &__image{
      height: 240px;
    }
  }
}
