/***
** Global styles
***/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

img {
  max-width: 100%; }

.text-center {
  text-align: center; }

button:target, button:focus {
  outline: none; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  border: 1px solid #ccc;
  -webkit-transition: background-color .5s linear, border-color .5s linear;
     -moz-transition: background-color .5s linear, border-color .5s linear;
       -o-transition: background-color .5s linear, border-color .5s linear;
          transition: background-color .5s linear, border-color .5s linear; }
  .btn.btn-blue {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    cursor: pointer; }
    .btn.btn-blue:hover {
      background-color: #22527b;
      border-color: #1d4568; }
  .btn.disabled {
    cursor: not-allowed; }
  .btn.btn-red {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    cursor: pointer; }
    .btn.btn-red:hover {
      background-color: #b52b27;
      border-color: #9f2723; }
  .btn.btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; }
    .btn.btn-green.pointer {
      cursor: pointer; }
      .btn.btn-green.pointer:hover {
        background-color: #3d8b3d;
        border-color: #357935; }

.search_field {
  margin: 0px auto 40px auto;
  display: block;
  width: 60%;
  height: 34px;
  padding: 6px 12px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
     -moz-transition: border-color ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }

/***
** App layout
***/
.app-wrapper {
  width: 100%;
  margin: 0px auto;
  padding: 0px 15px; }

.marvel-results {
  margin: 0px -15px;
  overflow: hidden; }

.marvel-character {
  width: 100%;
  text-align: center;
  padding: 0px 15px; }
  .marvel-character__inner {
    padding: 0px 15px;
    max-width: 285px;
    margin: 0px auto 50px auto; }
  .marvel-character__image {
    width: 100%;
    height: 255px;
    background-position: top center;
    -moz-background-size: cover;
      -o-background-size: cover;
         background-size: cover;
    background-repeat: no-repeat; }
  .marvel-character__name {
    min-height: 43px;
    margin-bottom: 10px;
    font-size: 16px; }

.pagination {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px; }
  .pagination__page {
    display: inline-block;
    vertical-align: bottom;
    padding: 5px 7px;
    margin: 0px 5px; }

/***
** Responsive styles
***/
@media only screen and (min-width: 480px) {
  .marvel-character__inner {
    max-width: 420px; }
  .marvel-character__image {
    height: 390px; } }
/* Tablets */
@media only screen and (min-width: 768px) {
  .app-wrapper {
    width: 750px; }

  .marvel-character {
    width: 50%;
    float: left; }
    .marvel-character:nth-child(2n+1) {
      clear: left; }
    .marvel-character__inner {
      max-width: none; }
    .marvel-character__image {
      height: 330px; } }
/* Small laptops */
@media only screen and (min-width: 1024px) {
  .app-wrapper {
    width: 970px; }

  .marvel-character {
    width: 25%; }
    .marvel-character:nth-child(2n+1) {
      clear: none; }
    .marvel-character:nth-child(4n+1) {
      clear: left; }
    .marvel-character__image {
      height: 190px; } }
/* Desktop */
@media only screen and (min-width: 1200px) {
  .app-wrapper {
    width: 1170px; }

  .marvel-character__image {
    height: 240px; } }
